<div style="text-align: center;">
    <h2 style="font-family: 'ITC Galliard';">{{section.settings.title}}</h2>
    <div style="display:flex; align-items:center; justify-content:center" class="page-width">
        {%- for items in section.blocks -%}
            <a href="{{items.settings.collection.url}}" style="text-align: center;margin:25px" class="text_link">
                <div class="image">
                    {% if items.settings.collection.image.src != blank %}
                        <img src="{{items.settings.collection.image.src  | img_url: 'large'}}}" loading="lazy"/>
                    {% else %}
                        {{ 'image' | placeholder_svg_tag }}  
                    {% endif %}
                </div>
                <p style="color: #c16452;font-family:futura;" >{{items.settings.collection.title}}</p>
            </a>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
    "name":"Custom collection",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Future Designer Collabs"
        }
    ],
    "blocks":[
    {
        "type":"collection_list",
        "name":"collection_list",
        "limit":4,
        "settings":[
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }
        ]
    }
],
    "presets":[
        {
            "name":"Custom collection list" 
        }
    ]
}
{% endschema %}