<div>
    {% case section.settings.slect_type %}
        {% when 'circle' %}
            <div class="custom-collection-circle-container">
                <h2>{{section.settings.title}}</h2>
                <div class="page-width content">
                    {%- for items in section.blocks -%}
                        <a href="{{items.settings.collection.url}}" class="text_link">
                            <div class="image">
                                {% if items.settings.collection.image.src != blank %}
                                    <img src="{{items.settings.collection.image.src  | img_url: 'large'}}}" loading="lazy"/>
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag }}  
                                {% endif %}
                            </div>
                            <p style="color: #c16452;font-family:futura;" >{{items.settings.collection.title}}</p>
                        </a>
                    {%- endfor -%}
                </div>
            </div>
        {% when 'rectangle_lying' %}
            <div class="custom-collection-rectangle-container">hinh chu nhat nam ngang 111
                <div class="page-width content">
                {%- for items in section.blocks -%}
                        <a href="{{items.settings.collection.url}}" class="text_link">
                            <div class="wrap-image">
                                {% if items.settings.collection.image.src != blank %}
                                    <img class="custom-image" src="{{items.settings.collection.image.src  | img_url: 'large'}}}" loading="lazy"/>
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag:"custom-image" }}  
                                {% endif %}
                            </div>
                            <p style="color: #c16452;font-family:futura;" >{{items.settings.collection.title}}</p>
                        </a>
                    {%- endfor -%}
                    </div>
                </div>
               
          
        {% else %}
        <div>hinh chu nhat nam doc</div>
    {% endcase %}
</div>

{% style %}
    .custom-collection-circle-container{
        text-align: center;
    }
    .custom-collection-circle-container h2 {
        font-family: 'ITC Galliard';
    }
    .custom-collection-circle-container .content {
        display:flex; 
        align-items:center;
        justify-content:center
    }
    .custom-collection-circle-container .content a{
        text-align: center;
        margin:25px
    }
    .custom-collection-circle-container .content .image{
    height: 190px;
    width: 190px;
    border-radius: 95px;
    overflow: hidden;
    border: 2px solid #E3D0D1;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .custom-collection-circle-container .content .image img{
    height: 170px;
    width: 170px;
    border-radius: 85px;
   
}

.custom-collection-rectangle-container .content {
    display:flex; 
    align-items:center;
    justify-content:center
    }

.custom-collection-rectangle-container .content .image{
    height: 190px;
    width: 190px;
    border-radius: 95px;
    overflow: hidden;
    border: 2px solid #E3D0D1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-collection-rectangle-container  .custom-image{
    height: 190px;
    width: 190px;
}

{% endstyle %}

{% schema %}
{
    "name":"Custom collection",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Future Designer Collabs"
        },
        {
            "type": "select",
            "id": "slect_type",
            "options": [
                {
                "value": "circle",
                "label": "Circle"
                },
                {
                "value": "rectangle_lying",
                "label": "Rectangle lying"
                },
                {
                "value": "vertical_rectangle",
                "label": "Vertical rectangle"
                }
            ],
            "default": "vertical_rectangle",
            "label": "Select type"
        }
    ],
    "blocks":[
    {
        "type":"collection_list",
        "name":"collection_list",
        "limit":4,
        "settings":[
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }
        ]
    }
],
    "presets":[
        {
            "name":"Custom collection list" 
        }
    ]
}
{% endschema %}