
<div class="content-faqs-container page-width">
    <div class="faqs-left">
        <div class="left-child">
            <h2>How can we help?</h2>
            {%- for block in section.blocks -%}
                {% if block.type == "text_title" %}
                <div>
                    <a href="#{{forloop.index}}">{{block.settings.title}}</a>
                </div>
                {% endif %}
            
            {%- endfor -%}
        </div>
    </div>
    <div class="faqs-right">
        <div style="" class="grid grid--1-col grid--2-col-tablet collapsible-content__grid{% if section.settings.desktop_layout == 'image_second' %} collapsible-content__grid--reverse{% endif %}">
            <div class="grid__item">
              {%- for block in section.blocks -%}
                {% case block.type %}
                    {% when "collapsible_row" %}
                        <div class="accordion{% if section.settings.layout == 'row' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}" {{ block.shopify_attributes }}>
                            <details id="Details-{{ block.id }}-{{ section.id }}"{% if section.settings.open_first_collapsible_row and forloop.first %} open{% endif %}>
                              <summary id="Summary-{{ block.id }}-{{ section.id }}">
                                <h3 class="accordion__title" style="font-weight: 100;font-size:20px">
                                  {{ block.settings.heading | default: block.settings.page.title }}
                                </h3>
                                {% render 'icon-caret' %}
                              </summary>
                              <div class="accordion__content rte" id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}" role="region" aria-labelledby="Summary-{{ block.id }}-{{ section.id }}">
                                {{ block.settings.row_content }}
                                {{ block.settings.page.content }}
                              </div>
                            </details>
                          </div>
                    {% else %}

                        <h2 id="{{forloop.index}}" style="font-size: 27px;">{{block.settings.title}}</h2>
                {% endcase %}
               
              {%- endfor -%}
            </div>
          </div>
    </div>
</div>

{% schema %}
{
  "name": "content-faqs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
        }
      ]
    },
    {
      "type": "text_title",
      "name": "Title",
      "settings":[
        {
          "type": "text",
          "id": "title",
          "default": "Ordering",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "content-faqs",
      "blocks": [
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}
