<div class="list-image-container">
    {%- for items in section.blocks -%}
        {% if items.settings.link_url != blank %}
            <a href="{{items.settings.link_url}}" class="text_link image">
                {% if items.settings.image != blank %}
                    <img src="{{items.settings.image | img_url: 'large'}}}" loading="lazy"/>
                {% else %}
                    {{ 'image' | placeholder_svg_tag }}  
                {% endif %}
        </a>
        {% else %}
        <div class="image">
            {% if items.settings.image != blank %}
                <img src="{{items.settings.image | img_url: 'large'}}}" loading="lazy"/>
            {% else %}
                {{ 'image' | placeholder_svg_tag }}  
            {% endif %}
        </div>
        {% endif %}
       
    {%- endfor -%}
</div>

{% style %}
    .list-image-container{
    height:300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:0px;
    overflow: hidden;
}
.list-image-container .image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.list-image-container img{
    height:100%;
    width: 100%;
}
{% endstyle %}

{% schema %}
{
    "name":"Image list",
    "tag":"section",
   "blocks":[
    {
    "type":"list_img",
    "name":"img",
    "limit":4,
    "settings":[
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
            "type":"url",
            "id":"link_url",
            "label":"Selecter link"
        },
        {
            "type":"text",
            "id":"text_title",
            "label":"Text title",
            "default":"Follow us"
        },
        {
            "type":"text",
            "id":"text_content",
            "label":"@bestswimwear"
        }

    ]
   }
   ],
    "presets":[
        {
            "name":"Image list" 
        }
    ]
}
{% endschema %}